@charset "UTF-8";


body {
    margin: 0;
}

main{
	margin-left: 100px;
    margin-right: 100px;
}

html {
    height: 100%;
}

header {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    min-width: 800px;
    /* max-width:1000px; */
}
.logo_div, .nav_drop{
	min-width: 800px;
}
/* 로고 */
.logo_div>img{
    width: 180px;
    cursor: pointer;
}
.logo_div{
    position: relative;
    text-align : center;
}
.button_div {
    /* float: right; */
    position: absolute;
    bottom: 0;
    left: 83%;
 }
 /* footer */
 footer{
 	padding-top: 30px;
 	padding-left : 100px;
 	padding-bottom: 50px;
 	background-color: #919191;
 	width : calc(100% - 100px);
 	min-width : 800px;
 }
 
  .footer{
 	display: flex;
 }
 .footerp {
 	font-size: 12px;
    color: white;
    line-height: 0.5em;
 }

 .footerbtn {
 	margin-left : auto;
 	width:100%;
    max-width: 300px;
    white-space:nowrap;
}
.footerbtn>img {
    width: 30px;
    margin: 10px;
    cursor : pointer;
}

.paging_wrap, #paging_wrap{
	cursor: pointer;
	text-align: center;
	margin: 20px;
}
.paging_wrap>span, #paging_wrap>span{
	padding: 10px;
}
