@charset "UTF-8";

.mainmain{
	justify-content: center;
	display: flex;
}
.memdiv{
	border : 2px solid #1d2088;
	width:700px;
	padding : 20px 10px 10px 10px;
	height: auto;
	text-align:center;
	border-radius: 15px;
	margin-bottom: 40px;
}

#updateBtn:hover{
	background-color: #e3ecfb;;
}
#deleteBtn:hover{
	background-color: #e3ecfb;;
}
#cancleBtn:hover{
	background-color: #e3ecfb;;
}